@model List<JoinResults>
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome @MyUser.Username</h1>

Want to see more art? <a href="/home/viewart">Click here!</a>

<h2>Favorites</h2>
@if (Model == null)
{
	<p>You don't have any favorites! <a href="/home/viewart">Click here</a> to find some!</p>
}
else
{
    foreach (var fav in Model)
	{
		<div>
            <b>@fav.title</b> by <i>@fav.artist</i><br />
			<img src="@fav.thumbnail_url" />
			Notes: @fav.mynotes<br />
		</div>
	}
}